

header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgba(36, 34, 35, 0.24);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0;
}
header a{
    color: rgb(43, 128, 226);
    text-decoration: none;
    font-size: 25px;
}

.sobre{
    display: flex;
    align-items: center;
    background-color: rgba(36, 34, 35, 0.24);

}

.sobre p{
    padding: 30px;
    font-size: 30px;
}

h2{
    text-align: center;
    color: rgb(43, 128, 226);
}

.minhaFoto{
    height: 400px;
    width: 400px;
    margin-right: 400px;
    margin-top: 200px;
    margin-bottom: 200px;
    border-radius: 50%;
}

.projetos{
    display: flex;
    justify-content: space-between;
    background-color:  rgba(36, 34, 35, 0.24);
}

.imagemConstrucao{
    height: 250px;
    width: 250px;
    margin: 200px;
}

footer{
    justify-content: center;
    text-align: center;
    display: flex;
    height: 400px;
    flex-direction: column;
    background-color: rgb(48, 43, 47);
    font-size: 20px;
}

